<div class="textBlock">
    <p class="leadTitle mediumText">Veteran Application</p>
    <p> 
        The Bucks County Tour of Honor program continues to pay homage to our World War II and terminally ill veterans from all wars. We are also at this time accepting applications from veterans who have served in the Korean War. We view the Tour of Honor trip as a simple acknowledgement, a Thank You for your service and contribution for making the world safe for democracy. 
        Please download the form below, fill it out and return to the address listed on the application.
    </p>

    <a href="../src/docs/VeteranApplication.docx" class="btn btn-default">Download Veteran Application</a>
    <p class="rule"></p>
    <p class="leadTitle mediumText">Guardian Application</p>
    <p>
        Our Tour of Honor would not be possible without the help of our Guardians. Guardians play a significant role on our trip and are responsible for helping to ensure every veteran has a safe and memorable experience. Guardians must be between the ages of 18 and 70 years of age. Spouses of veterans may not serve as guardians. 
        Please download the form below, fill it out and return to the address listed on the application.
    </p>
    <a href="../src/docs/GuardianApplication.docx" class="btn btn-default">Download Guardian Application</a>
    
    
    
    <p class="rule"></p> 
    
    <p class="leadTitle mediumText">Volunteer Application</p>  
    <p>
        Volunteers are needed on the day of the trip from the hours of 4:00am to 7:00am to assist in the registration process and the loading of the buses and from 4:00pm to 9:00pm for the Welcome Home set up, unloading of buses and clean up.
    </p>
    <p>
        Please download the form below, fill it out and return to the address listed on the application.
    </p>
    <a href="../src/docs/VolunteerApplication.docx" class="btn btn-default">Download Volunteer Application</a>
</div>