<div class="textBlock">
    <p class="leadTitle largeText">BUCKS COUNTY TOUR OF HONOR</p>
    <p class="leadTitle mediumText">BOARD MEMBERS</p>
    <ul>
        <li>Joseph Szafran, Chairman</li>
        <li>Christine Ferrara, Secretary/Treasurer</li>
        <li>Michael DeBonis, Board Member</li>
        <li>Thomas Mellon, Board Member</li>
        <li>Gerald Fretz, Board Member</li>
    </ul>

    <p class="leadTitle mediumText">HONORARY BOARD MEMBERS</p>
    <ul>
        <li>Congressman Michael Fitzpatrick <span>8th District-PA</span></li>
        <li>Commissioner Charles Martin <span>Bucks County</span></li>
        <li>Mayor Joseph DiGirolamo <span>Bensalem Township</span></li>
    </ul>
</div>