<!--<figure id="slideshow" class="breatheSide breatheBottom">
<img src="./src/images/rotate/img01.JPG" alt="" />
<img src="./src/images/rotate/img02.JPG" alt="" />
<img src="./src/images/rotate/img03.JPG" alt="" />
<img src="./src/images/rotate/img04.JPG" alt="" />

</figure>-->
<div class="textBlock breatheSide breatheBottom">
	<div id="slider" class="ideal-image-slider iis-effect-slide iis-has-bullet-nav">
		<img src="./src/images/rotate/img01.JPG" alt="Minimum required attributes">
		<img src="./src/images/rotate/img02.JPG" alt="Use data-src for on-demand loading">
		<img src="./src/images/rotate/img03.JPG" alt="Use data-src for on-demand loading">
		<img src="./src/images/rotate/img06.JPG" alt="Use data-src for on-demand loading">
		<img src="./src/images/rotate/img05.jpg" alt="Use data-src for on-demand loading">
		<img src="./src/images/rotate/img07.JPG" alt="Use data-src for on-demand loading">
		<img src="./src/images/rotate/img08.JPG" alt="Use data-src for on-demand loading">
		<img src="./src/images/rotate/img09.JPG" alt="Use data-src for on-demand loading">
	</div>
</div>

<div class="textBlock">
	<p>The mission and sole purpose of Bucks County Tour of Honor is to transport United States Military Veterans from the Bucks County area to Washington DC to visit memorials, buildings and other places that promote and represent the ideals of the United States of America.</p>
	<p>At present our major focus is WWII veterans and terminally ill veterans, who are given top priority. We are also accepting applications for Korean War veterans at this time. </p>
	<p>The Bucks County Tour of Honor experience leaves from Parx East and includes stops at Arlington National Cemetery at the Tomb of the Unknown Soldier for the Changing of the Guard and Wreath Laying Ceremony, Air Force Memorial, Korean War Memorial and World War II Memorial. The trip to Washington DC is followed by a “Welcome Home” celebration, dinner and entertainment hosted by Parx Casino.</p>
	<p>The Bucks County Tour of Honor is an all expenses paid trip for the veteran and is destined to be an experience you will forever treasure.</p>
	<p>Space is limited, so to avoid disappointment please complete and return your application to us as soon as possible to secure your spot.</p>
	<p>Applications now being accepted for our trip scheduled for Monday, October 2, 2017.</p>
	<p>Applications can be downloaded from this site or you can contact us at ________________________ or by calling 215-348-6209 and we can send an application to you via mail.</p>

	<p>Completed applications should be returned to:</p>

	<p>Bucks County Tour of Honor<br>
		55 E. Court Street <br>
		Doylestown, PA. 18901
	</p>
</div>

<script src="./bower_components/ideal-image-slider/ideal-image-slider.min.js"></script>
<script src="./bower_components/ideal-image-slider/extensions/bullet-nav/iis-bullet-nav.js"></script>
<script>
	$( document ).ready(function() {
		var slider = new IdealImageSlider.Slider({
                selector: '#slider',
                height: 400
            });
            slider.addBulletNav();
            slider.start();
	});
</script>
