<div class="textBlock">
    <p class="leadTitle mediumText">
        BUCKS COUNTY TOUR OF HONOR
    </p>

    <p>
        Bucks County Tour of Honor gratefully accepts donations to help continue our mission to ensure that every World War II and Korean War Veteran who is interested in participating is able to do so.
    </p> 
    <p>
        There are certain expenses associated with the Bucks County Tour of Honor trip such as luxury motor coaches, breakfast, lunch and apparel given to the veterans as a memento of the trip. Donations to the Bucks County Tour of Honor would assist in offsetting these costs. No donation is too small.
    </p>
    <p>
        All donations to our 501(c)3 nonprofit organization are tax deductible.
    </p>

    <p>
        Donations can also be accepted by mail. Please mail your donation to:
        <span class="indent">
            Bucks County Tour of Honor<br>
            P.O. Box 689<br>
            Doylestown, PA. 18901
        </span>
    </p>
    <p>
        Click here to make a donation by credit card
    </p>
</div>