<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Application</title>
    </head>
    <body>
        <form id="gform" method="post" action="https://script.google.com/macros/s/AKfycbxKxicirV2uxtmnl8uYVtlVbGlOLASiaDm3wIqr86EgAe-dDVvH/exec">

            <p>
                <label for="name">Name:</label>
                <input id="name" name="name" type="text" value=""/>
            </p>
            <p>
                <label for="message">Message:</label>
                <br/>
                <textarea id="message" name="message" cols="40"></textarea>
            </p>
            <p>
                <label for="email">Email:</label>
                <br/>
                <input id="email" name="email" type="text" value=""/>
            </p>
            <p id="result">

            </p>
            <input type="submit" value="Send"/>
        </form>
    </body>
</html>